<section id="about" class="bg-second">
    <div class="container d-flex flex-column justify-content-center align-items-center ">
        <h2 class="text-uppercase text-white">about component</h2>
        <app-star class="my-3"></app-star>
        <div class="row">
            <div class="col-md-6">
                <p class="text-white">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
            <div class="col-md-6">
                <p class="text-white">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
        </div>
    </div>
</section>