:root{
    --main-color:#2d3e50;
    --second-color:#1bbc9b;
    
    }

    body{
        /* height:200vh; */
        padding-top:106px;
    }
    
    .bg-main{
        background-color: var(--main-color);
    }
    .bg-second{
        background-color: var(  --second-color);
    }

   
    .t-main{
        color: #2d3e50;
    }


